body {
  background: linear-gradient(90deg, #faebff, #c9e8ed, #cdf7e5);
  font-size: 1.25rem;
  line-height: 1.5;
}
/* 页面布局 */
.upbar {
  background: linear-gradient(90deg, #fcf3ff, #dff1f4, #e1faef);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
}
.upbar_link {
  text-decoration: none;
}
.leftbar {
  position: absolute;
  top: 55px;
  left: 2%;
  width: 71%;
  bottom: 10px;
}
.rightbar {
  position: fixed;
  right: 2%;
  width: 23%;
  top: 55px;
  bottom: 10px;
}
/* 字体 */
@font-face {
  font-family: "Pixel";
  src: url("../font/pixelFont.ttf") format("truetype");
}
@font-face {
  font-family: "Zpix";
  src: url("../font/zpix.ttf") format("truetype");
}
/* @import "_partial/header";
@import "_partial/post"; */
.hello_text1 {
  color: #1f2328;
  font-size: 140%;
  font-weight: bold;
  font-family: Pixel;
}
.hello_text2 {
  color: #1f2328;
  font-size: 160%;
  font-weight: bold;
  font-family: Pixel;
}
.hello_text3 {
  color: #ebebee;
  font-size: 170%;
  background-color: #00a4ff;
  border-radius: 6px;
  padding: 0;
  font-weight: bold;
  font-family: Pixel;
}
.empty_text {
  color: rgba(0,0,0,0);
}
.top_introduction {
  color: #00a4ff !important;
  font-weight: bold;
  font: bolder 2px;
  font-family: Pixel;
  position: relative;
  top: 4px;
  left: 14px;
  text-decoration: none;
  font-size: 140%;
}
.top_introduction2 {
  color: #1f2328 !important;
  font-weight: bold;
  font: bolder 2px;
  font-family: Pixel;
  position: relative;
  top: 4px;
  left: 14px;
  text-decoration: none;
  font-size: 120%;
}
.top_link {
  color: #41535b !important;
  font: bolder 2px;
  font-family: Pixel;
  position: relative;
  top: 1px;
  text-decoration: none;
  font-size: 180%;
}
.top_link2 {
  color: #41535b !important;
  font: bolder 2px;
  font-weight: bold;
  position: relative;
  top: 1px;
  text-decoration: none;
  font-size: 120%;
}
.top_button {
  color: #41535b !important;
  background-color: rgba(0,122,204,0);
  transition: 0.5s;
  border: 0;
  width: 120px;
  height: 40px;
}
.top_button:hover {
  background-color: rgba(0,122,204,0.1);
}
.pixel_text {
  font-family: Zpix;
}
.default_text {
  font-size: 90%;
}
.link_text {
  color: #00a4ff;
  font-size: 90%;
}
.br_text {
  width: 90%;
  color: #00a4ff;
}
.post_header {
  position: relative;
}
.post_header_image {
  position: relative;
  left: -15px;
  top: -38px;
  width: calc(103%);
  height: 240px;
  object-fit: cover;
/* right: -20px; */
}
.post_header_text {
  color: #f0f8ff;
  position: absolute;
  left: 3px;
  top: -20px;
  font-size: 30px;
}
.post_header_time {
  color: #f0f8ff;
  position: absolute;
  left: 3px;
  bottom: 65px;
  font-weight: normal;
  font-size: 15px;
}
.right_link {
  color: #41535b !important;
  font: bolder 2px;
  font-weight: bold;
  font-family: Zpix;
  position: relative;
  top: 1px;
  text-decoration: none;
  font-size: 150%;
}
.right_button {
  color: #41535b !important;
  background-color: rgba(0,122,204,0);
  transition: 0.5s;
  border: 0;
  width: 100%;
  height: 60px;
}
.right_button:hover {
  background-color: rgba(0,122,204,0.1);
}
.right_intro {
  color: #41535b !important;
  font: bolder 2px;
  font-family: Zpix;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 100%;
}
.dir_link {
  color: #1f2328 !important;
  font: bolder 2px;
  font-weight: bold;
  position: relative;
  top: 1px;
  text-decoration: none;
  font-size: 120%;
}
.dir_button {
  color: #1f2328 !important;
  background-color: rgba(0,122,204,0);
  transition: 0.5s;
  border: 0;
  width: 100%;
  height: 45px;
}
.dir_button:hover {
  background-color: rgba(0,122,204,0.1);
}
.archive_main_div {
  background-color: #fff;
  color: #212121;
/* border-style: solid;
    border-width: 2px;
    border-color: #d0d7de; */
  position: relative;
  top: 0px;
  font-size: 90%;
}
.archive_div {
  position: relative;
  left: 15px;
  width: 97%;
  top: 10px;
  bottom: 10px;
}
a[href] {
  color: #00a4ff;
  text-decoration: none;
}
h1 {
  color: #1d1d1d;
}
h2 {
  color: #1d1d1d;
}
h3 {
  color: #1d1d1d;
}
h4 {
  color: #1d1d1d;
}
blockquote {
  padding: 8px;
  background-color: #eff4fb;
}
